@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}

.container {
    padding: 1rem;
    margin: 0 auto;
    width: auto;
    text-align: center;
}

.header-1 {
    background-image: url('white-cube-pattern-4k-bu.jpg');
    background-size: cover;
    background-position: center center;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: calc(100vh - 0px);
    font-family: 'IBM Plex Mono', monospace;
}

.minameis {
    font-size: 1rem;
    margin-bottom: 0rem;
    font-weight: bold;
}

.im {
    width: auto;
    float: left;
    margin: 0;
}

.im2{
    color: black;
    font-weight: bold;
}

.container img{
    width: 250px;
    height: 250px;
    border-radius: 2rem;
}


.content {
    font-size: 2rem;
    margin: 15rem auto;
    max-width: 100%;
    color: black;
}

.content2 {
    font-size: 1.5rem;
    margin: auto auto;
    max-width: 100%;
    color: black;
}
.content h1 {
    color: #00c2ff;
    margin-bottom: 0;
}
.container-fluid{
    max-width: 1000px;
    padding: 1rem; 
    margin: 20px auto;
}
nav {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

nav .logo {
    font-size: 1.5rem;
    color: black;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li a {
    color: black;
    padding: 1rem;
    text-decoration: none;
}

.highlight {
    color: white;
    background-color:rgba(255, 68, 0, 0.788);
    text-decoration: none;
    border-radius: 1rem;
}
.highlight:hover{
    color: black;
}
.highlight2 {
    color: orangered;
   text-decoration: none;
   font-size: 3rem;
}
.social {
    vertical-align: center;
    place-items: center;
}

.wrapper-head{
    background-color: #212121;
    width: 100%;
    margin: auto auto;
    color: whitesmoke;
    padding: 120px 0;
    
    
}

.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: black;
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span, .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover, .wrapper .facebook:hover .tooltip, .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.wrapper .twitter:hover, .wrapper .twitter:hover .tooltip, .wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.wrapper .instagram:hover, .wrapper .instagram:hover .tooltip, .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.wrapper .github:hover, .wrapper .github:hover .tooltip, .wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover, .wrapper .youtube:hover .tooltip, .wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}

section{
    justify-content: center;
    display:flex;
    max-width: auto
   
}

footer {
    background-color: rgba(0, 0, 0, 0.781);
    color: #fff;
    padding: 1rem;
    place-items: center;
    display: grid;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

footer strong {
    color: #00c2ff;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .content {
        font-size: 1.4rem;
        margin: 2rem auto 0;
    }
    nav ul {
        flex-direction: column;
    }
    nav li:not(:last-child) {
        margin-bottom: 1rem;
    }
    nav .highlight {
        display: none;
    }
    footer ul {
        flex-direction: column;
        justify-content: center;
    }
    footer li {
        margin: 1rem;
        text-align: center;
    }
}